.section_form {
    padding: 3rem; /* Adjust padding as needed */
    border: 1px solid lightgray; /* Light border */
    border-radius: 4px; /* Rounded corners */
    margin: 1rem; /* Margin on all sides */
    background-color: whitesmoke;
  }
  .section_label {
font-size: larger;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333; /* Adjust color */
  }
  .redbox {
    color: rgb(194, 8, 8);
    border: 1.5px solid rgb(194, 8, 8);
    padding: 6px 20px;
    width: fit-content; /* Adjust width to fit content */
    position: absolute; /* Position absolutely */
    top: 40px; /* 10px margin from the top */
    right: 40px; /* 10px margin from the right */
  }
  .section_name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 40px; /* Adjust margin as needed */
  }
  
  .section_name label {
    margin-right: 40px; /* Adjust margin between label and input */
  }
  
  .section_name input[type="text"] {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 30px;
  }
  .form_elements{
    display: flex;
    flex-direction: grid;
  }
  .span{
    color: red;
  }
  .btn1{
    padding: 8px 20px;
    background-color: rgb(59, 146, 239);
  color: white;
  border: 0px;
  margin-left: 30%;
  }
  .btn1:hover{
    background-color: rgb(36, 11, 227);
  }
  .btn2:hover{
    background-color: rgb(216, 36, 12);
  }
  .btn_container{
    margin-top: 3rem;
    margin-bottom: 15px;
    align-items: center;
    padding: 20px;
    background-color: none;
  }
  .btn2{
    padding: 8px 20px;
    margin-left: 10px;
    border: 0px;
    background-color: rgb(226, 136, 10);
  color: white;
  }
  .success_message {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }